.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
commitlint.config.js
.prettierignore
.github/
tsconfig.json
webpack.config.js
*.vsix
eslint.config.js
